/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #f5f5f5 !important;
}

.slick-PreviousArrow{
    left: 3%  !important;
    z-index: 1;
}
.slick-NextArrow{
    right:3% !important;
    z-index: 1;

}